@model IEnumerable<Expenses.Models.Expense>

<h1>My Expenses</h1>

<div class="container">
    <table class="table table-bordered ">
        <thead class="table-light">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Amount</th>
                <th>Category</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>@item.Amount €</td>
                    <td>@item.Category</td>
                    <td>@item.Date.ToString("dd-MM-yyyy")</td>
                </tr>
            }
        </tbody>
    </table>
</div>